.range-picker {
  margin-right:50px;
    position: relative;
    overflow: hidden;
    .slider {
      position: relative;
      height: 24px;
      background: rgba(34, 43, 68, 1);
      cursor: pointer;
      .slider-track {
        position: absolute;
        height: 100%;
        background: rgba(28, 100, 242, 0.1);
        border-radius: 5px;
        z-index: 1;
      }
      
      .slider-thumb {
        position: absolute;
        width: 5px;
        height: 100%;
        cursor: pointer;
        z-index: 20;
        transform: translateX(-50%);
        background-color: rgba(28, 100, 242, 0.6);
        display: flex;
        direction: column;
        align-items: center;
        cursor: e-resize;
        p{
          user-select: none;
        }
        .start-text{
          position: absolute;
          left: -40px;
        }
        .end-text{
          position: absolute;
          right: -40px;
        }
      }
    }
  }

@media(max-width: 720px){
  .range-picker{
    .slider{
      .slider-thumb{
        width: 15px;
      }
    }
  }
}
  
  
  